node_modules
dist
.DS_Store
.env
.env.*
!.env.example
next-env.d.ts
.turbo
coverage
*.log
.vite
electron-builder/
release/
build/
.cache/
.userData/
apps/pos/.userData/
.next/
dist-electron/
.turbo/
*.tsbuildinfo
.dbg/

